<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/swiper-bundle.min.css">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Sem Nome</title>
  <link href="../media/favicon.png" rel="icon">
</head>

<body>
  <nav class="navbar">
        <img class="logo" src="../media/logo.png">
        <div class="navbar-links">
            <div class="dot" style="left: 26.225px"></div>
            <ul>
                <li><a href="#inicio">Início</a></li>
                <li><a href="#about">Sobre</a></li>
                <li><a href="#novidades">Novidades</a></li>
                <li><a href="#equipe">Equipe</a></li>
            </ul>
        </div>
    </nav>

  <section class="inicio" id="inicio">
    <div class="content">
      <h1 class="semnome">SEM NOME</h1>
      <h5 class="slaboy">Educação de qualidade para crianças e jovens com TEA</h5>
      <a href="https://www.figma.com/proto/D6j1oMbuq60uBySJn5m3kP/Untitled?node-id=1%3A4&starting-point-node-id=1%3A4" target="blank">
  <button class="bn54">
    <span class="bn54span">Baixe agora</span>
  </button>
</a>
    </div>
    <img src="../media/bichinhosestranhos.png" class="estranhos">
  </section>

  <section class="about" id="about">
    <div class="text">
      <h1>Sobre nós</h1>
      <img src="../media/lembrete.png"  class="lemb">
      <p>Nosso projeto consiste num aplicativo que promete ajudar as crianças e jovens portadores de TEA. Os auxiliando
        em sua rotina educacional, para que possam ter um bom desempenho em suas atividades diárias. O desenvolvimento
        do projeto partiu de um projeto escolar no qual nos ofereceu problemas destacados na sociedade, que seriam as
        ODS's, entre as disponíveis escolhemos a N°4 focada na área da saúde mental, unimos esse tema com inclusão
        social e assim nasceu nosso projeto.
      </p>
      
    </div>
<img src="../media/estranho2.png"  class="lemb2">
  </section>

<!-- Inicio das novidades -->
  
   <section class="novidades" id="novidades">
     <h3 class="textodoido">Novidades da turma</h3>
    <div class="container center">
  <div class="atividades">
    <h2>ATIVIDADES RECREATIVAS:</h2>
    <hr/>
    <p>Trata-se de lazer, ou seja, o aplicativo disponibiliza games para serem usados de forma facultativa e sem custos.

Também há recomendações de atividades para crianças realizarem em suas casas juntos aos seus responsáveis.
    </p>
    <button>Entenda</button>
  </div>
  <div class="atividades">
    <h2>RECOMENDAÇÃO DE LIVROS:</h2>
    <hr/>
    <p>Para manter a mente ligada e utilizar o tempo livre como forma de manter o foco na formação e no conhecimento, o aplicativo disponibiliza sugestões de livros, sejam eles do gênero épico, lírico, dramático, para fins didáticos ou não.
    </p>
    <button>Entenda</button>
  </div>
  <div class="atividades">
    <h2>SUPORTE PARA COMUNICAÇÃO:</h2>
    <hr/>
    <p>O aplicativo tem como principal função dar a possibilidade de pessoas não oralizadas se comunicarem por meio da comunicação alternativa para ajudar crianças e adolescentes com TEA a transmitirem seus desejos, emoções e necessidades.
    </p>
    <button>Entenda</button>
  </div>
</div>
   </section>
  <section class="equipe" id="equipe">

    <div class="slide-container swiper">
        <div class="slide-content">
            <h1 class="texto">Nossos Livros</h1>
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">----------</h2>
                        <p class="description">---------</p>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">-------</h2>
                        <p class="description">----------</p>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">------------</h2>
                        <p class="description">--------</p>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">---------</h2>
                        <p class="description">---------</p>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">---------</h2>
                        <p class="description">----------</p>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">---------</h2>
                        <p class="description">-----------</p>
                    </div>
                </div>
                
                
                
                </div>
                
            </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>
  </section>
  
  <script src="../JS/swiper-bundle.min.js"></script>
  <script src="../JS/script.js"></script>
</body>

</html>